@if (!Request.IsAuthenticated)
{
    <li class="pull-right">
        <a href="#login">@FrontEnd.Web.Resources.UserAreaResources.ENTER</a>
    </li>
    <li class="pull-right">
        <a href="/">@FrontEnd.Web.Resources.UserAreaResources.REGISTRATION</a>
    </li>
}