<form enctype="application/x-www-form-urlencoded" method="post" action="">
    <dl class="zend_form">
        <dt id="email-label">
            <label for="email" class="required">e-mail</label></dt>
        <dd id="email-element">
            <input type="text" name="email" id="email" value="" size="40" /></dd>
        <dt id="password-label">
            <label for="password" class="required">Пароль</label></dt>
        <dd id="password-element">
            <input type="password" name="password" id="password" value="" size="40" /></dd>
        <dt id="regButton-label">&nbsp;</dt>
        <dd id="regButton-element">
            <input type="submit" name="regButton" id="regButton" value="Войти" class="btn btn-striped-bottom" /></dd>
    </dl>
</form>
